/*!
 * Bootstrap v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "modules/functions";
@import "modules/variables";
@import "modules/mixins";
@import "modules/root";
@import "modules/reboot";
@import "modules/type";
@import "modules/images";
@import "modules/code";
@import "modules/grid";
@import "modules/tables";
@import "modules/forms";
@import "modules/buttons";
@import "modules/transitions";
@import "modules/dropdown";
@import "modules/button-group";
@import "modules/input-group";
@import "modules/custom-forms";
@import "modules/nav";
@import "modules/navbar";
@import "modules/card";
@import "modules/breadcrumb";
@import "modules/pagination";
@import "modules/badge";
@import "modules/jumbotron";
@import "modules/alert";
@import "modules/progress";
@import "modules/media";
@import "modules/list-group";
@import "modules/close";
@import "modules/modal";
@import "modules/tooltip";
@import "modules/popover";
@import "modules/carousel";
@import "modules/utilities";
@import "modules/print";

//modules

@import "modules/waiting-page";
@import "modules/login-page";
@import "modules/register-page";
@import "modules/home-page";
@import "modules/user-profil-page";
@import "modules/cours-page";
@import "modules/start-learn-page";
@import "modules/quiz-page";
@import "modules/quiz-of-course-page";
@import "modules/examens-page";
@import "modules/start-examens-page";
@import "modules/result-examens-page";
@import "modules/sujet-pdf-page";


body{
    font-family: "Poppins", $font-family-sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
}

.reset-list-style{
    list-style-type: none;
    padding: 0px;
}

*{
    transition: all 4ms;
    outline: none !important;
}

.navbar-profil{
    margin: 0;
    border-bottom: 1px solid #EEEE;
    background: #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

    ul{
        flex: 1;
        margin: 0;
        padding: 0;

        display: flex;
        height: 8vh;
        align-items: center;

        .nav-item{
            margin-right: 1rem;
            height: 100%;
            align-items: center;
            display: flex;

            a{
                color: #000000AD !important;
                font-weight: 500;
                padding: 1rem 0 !important;
                height: 100%;
                display: flex;
                align-items: center;

                &:hover{

                    text-decoration: none;
                }


                &:focus{
                    color: #000000 !important;
                    text-decoration: none;
                    border-bottom: 2px solid #66A5D1;
                }


            }
        }

    }

    ul.h-100{
        display: flex;
        justify-content: flex-end;
        flex: 0.1;

        li{
            a{
                text-align: end;
                color: #000000;

                &:focus{
                    color: #000000 !important;
                    text-decoration: none;
                    border-bottom: 2px solid #66A5D1;
                }

            }

        }
    }

}

.profil{

    .mdi-account-circle{
        font-size: 47px;
    }

    align-items: center;
}

.flex-2{
    flex: 2 !important;
}

@media only screen and (width: 1024px){
    .navbar-profil{
        margin: 0;
        border-bottom: 1px solid #EEEE;
        background: #E0E0E0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;

        ul{
            flex: 1;
            margin: 0;
            padding: 0;

            display: flex;
            height: 8vh;
            align-items: center;
            font-size: 1.5rem;

            .nav-item{
                margin-right: 1rem;
                height: 100%;
                align-items: center;
                display: flex;

                a{
                    color: #000000AD !important;
                    font-weight: 500;
                    padding: 1rem 0 !important;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &:hover{

                        text-decoration: none;
                    }


                    &:focus{
                        color: #000000 !important;
                        text-decoration: none;
                        border-bottom: 2px solid #66A5D1;
                    }


                }
            }

        }

        ul.h-100{
            display: flex;
            justify-content: flex-end;
            flex: 0.1;

            li{
                a{
                    text-align: end;
                    color: #000000;

                    &:focus{
                        color: #000000 !important;
                        text-decoration: none;
                        border-bottom: 2px solid #66A5D1;
                    }

                }

            }
        }

    }

    .profil{

        .mdi-account-circle{
            font-size: 47px;
        }

        align-items: center;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .navbar-profil{
        margin: 0;
        border-bottom: 1px solid #EEEE;
        background: #E0E0E0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;

        ul{
            flex: 1;
            margin: 0;
            padding: 0;

            display: flex;
            height: 8vh;
            align-items: center;
            font-size: 1.5rem;

            .nav-item{
                margin-right: 1rem;
                height: 100%;
                align-items: center;
                display: flex;

                a{
                    color: #000000AD !important;
                    font-weight: 500;
                    padding: 1rem 0 !important;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &:hover{

                        text-decoration: none;
                    }


                    &:focus{
                        color: #000000 !important;
                        text-decoration: none;
                        border-bottom: 2px solid #66A5D1;
                    }


                }
            }

        }

        ul.h-100{
            display: flex;
            justify-content: flex-end;
            flex: auto;

            li{
                a{
                    text-align: end;
                    color: #000000;

                    &:focus{
                        color: #000000 !important;
                        text-decoration: none;
                        border-bottom: 2px solid #66A5D1;
                    }

                }

            }
        }

    }
}
