/*!
 * Bootstrap v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "modules/functions";
@import "modules/variables";
@import "modules/mixins";
@import "modules/root";
@import "modules/reboot";
@import "modules/type";
@import "modules/images";
@import "modules/code";
@import "modules/grid";
@import "modules/tables";
@import "modules/forms";
@import "modules/buttons";
@import "modules/transitions";
@import "modules/dropdown";
@import "modules/button-group";
@import "modules/input-group";
@import "modules/custom-forms";
@import "modules/nav";
@import "modules/navbar";
@import "modules/card";
@import "modules/breadcrumb";
@import "modules/pagination";
@import "modules/badge";
@import "modules/jumbotron";
@import "modules/alert";
@import "modules/progress";
@import "modules/media";
@import "modules/list-group";
@import "modules/close";
@import "modules/modal";
@import "modules/tooltip";
@import "modules/popover";
@import "modules/carousel";
@import "modules/utilities";
@import "modules/print";

// modules
@import "modules/home";
@import "modules/quiz";
@import "modules/auth";
@import "modules/waiting-page";

body {
    font-family: "Poppins", $font-family-sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.btn {
    font-size: 14px;
}

.modal-footer {
    background-color: $gray-100;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.form-control {
    font-size: 14px;
}

.modal-content {
    border-radius: 15px;
}

.reset-list-style {
    list-style-type: none;
    padding: 0px;
}

.formatQLabel {
    img {
        max-width: 100%;
        height: auto;
    }
}

.btn-cta {
    border-radius: 20px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 2s linear infinite;
}

.stat-subject-title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
