.login-cover {
  min-height: 100vh;
  background: linear-gradient(190deg, rgba(33, 150, 243, 0.4), rgba(33, 150, 243, 0.4)), url("/images/2-QUIZZ.jpg");
  background-size: cover;
  background-position: center;
}

.login-right {
  min-height: 100vh;
}

.login-right-content {
  text-justify: center;
}

.auth-text-header {
  font-size: 27px;
}


.custom-control-input:checked~.custom-control-label.blue::before {
  background-color: $info;
  box-shadow: transparent !important;
  color: #fff;
  outline: none !important;
  border-color: $info;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5) !important;
  }
}

.custom-control-input:checked~.custom-control-label.green::before {
  background-color: $success;
  box-shadow: transparent !important;
  outline: none !important;
  color: #fff;
  border-color: $success;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .auth-text-header {
    font-size: 30px;
  }
}