.home-text-header {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 3rem;
}

.home-el-title {
  font-size: 15px;
  font-weight: 400;
  color: $gray-600;
}

.cover-image {
  background: $gray-200;
}

.book-desc {

  .price {
    font-size: 19px;
    font-weight: 600;
  }

  .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  .desc {
    color: $gray-600;
    line-height: 1.3;
    font-size: 13px;
  }

  span {
    font-size: 13px;
    font-weight: 500;
  }
}

.el-card {
  border: 1px solid #e0e0e0;
  border-radius: 9px;
  transition-duration: 300ms;

  .el-card-title {
    font-size: 15px;
    font-weight: 400;
  }

  &:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }

  .marker {
    font-size: 13px;
    color: $gray-600;
  }
}

.listing-page-title {
  font-size: 18px;
}

.cover-image {

}

.subject-filter-bloc {
  font-size: 14px;
}

.breadcrumb-top {
  font-size: 13px;

  .nav-link {
    color: rgba(0, 0, 0, 0.6);

    &:hover, &:focus, &:active {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.home-secondary-menu {
  background: #f7f6f6;

  .nav-link {
    color: rgba(0, 0, 0, 0.6);

    &:hover, &:focus, &:active {
      color: rgba(0, 0, 0, 0.8);
    }

    &.active {
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 2px solid $info;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-text-header {
    font-size: 33px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 4rem;
  }

  .main-cover {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(190deg, rgba(33, 150, 243, 0.4), rgba(33, 150, 243, 0.4)), url("/images/3-EXAMENS.jpg");
    background-size: cover;
  }
}