.separator {
  display: block;
  width: 1px;
  height: 17px;
  background: $gray-600;
}

.question-item {
  background: $gray-100;
}

.question-item-correct {
  background: #A7F3D0;
  color: #047857;
  border: 1px solid #6EE7B7;

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #047857 !important;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
  }
}

.quiz-instruction {
  color: $gray-600;
  font-size: 13px;
}

.exam-result-title {
  color: #333;
  font-size: 18px;
}