$colorsSmallBlack: #0000005C;

.home-main-page{
    min-height: 100vh;

    .content{
        padding: 0;

        .navbar{
            border-bottom: 1px solid #EEEE;

            .navbar-brand{
                flex: 1;
                margin-left: 1rem !important;

                img{}
            }

            .content-item{
                flex: 1;

                ul{
                    flex: .6;
                    margin: 0;

                    .nav-item{
                        a{
                            color: #000000AD !important;
                            font-weight: 500;

                            &:hover{

                                text-decoration: none;
                            }


                            &:focus{
                                color: #000000 !important;
                                text-decoration: none;
                            }


                        }
                    }
                }

                div{
                    background: #FF6624;
                    border-radius: 25px;
                    padding: 0.5rem 1rem;
                    align-content: center;

                    .letsgo{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        font-weight: 500;
                        color: #FFFF;

                        &:hover{
                            text-decoration: none;
                            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

                        }
                    }
                }


            }
        }


        .content-bootom{
            margin-top: 1rem;

            nav{
                ol.breadcrumb{
                    background-color: transparent;

                    .breadcrumb-item{


                        a{
                            color: #000000AD;
                        }

                        &.active{
                            color: #FF6624;

                            &::before{
                                content: ">";
                            }
                        }

                    }
                }

            }

            .content-body{
                .filter{
                    min-width: 20%;
                    width: 20% !important;
                    flex: 0;

                    .item-filter{
                        .item{
                            margin-bottom: 1rem;

                            h6{
                                color: $colorsSmallBlack
                            }

                            .form-check{
                                .form-check-input{
                                    height: 18px;
                                    width: 18px;
                                }
                            }
                        }

                        .item-classes{
                            h6{

                            }

                            .form-check{

                            }
                        }

                        .item-matieres{
                            h6{

                            }

                            .form-check{

                            }
                        }
                    }
                }

                .container-item-books{
                    .item-book{
                        width: 23%;
                        box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                        border-radius: 1%;
                        min-height: 50vh;
                        height: 54vh;

                        &:hover{
                            box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                        }

                        .book-image{
                            align-items: center;
                            align-content: center;
                            justify-content: center;
                            flex: 1 !important;
                            display: flex;
                            background: #ABABAB80;
                            border-bottom: 2px solid #A0A0A0CC;
                            height: 25vh;
                        }

                        .book-description{
                            text-align: left;
                            padding: 1rem;
                            justify-content: space-around !important;
                            flex: 1;

                            & *{
                                width: 100%;
                            }

                            .book-price{
                                font-size: 23px;
                                font-weight: 500;
                                margin: 0;
                            }

                            .book-title{
                                font-weight: 700;
                                margin: 0;
                            }

                            .book-reference{
                                color: #CCCCCC;
                                margin: 0;
                            }

                            .book-number-page{
                                color: #191818;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

}

.text-bold{
    font-size: 21px;
    font-weight: 400 !important;
    color: #000000 !important;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .home-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .navbar{
                flex-direction: column;

                .navbar-brand{
                    flex: 1;
                    margin-left: 1rem !important;

                    img{}
                }

                .content-item{
                    flex: 1;

                    ul{
                        width: 100%;
                        max-width: 100%;
                        flex: 1;
                        margin-top: 1rem;

                        .nav-item{
                            a{
                                color: #000000AD !important;
                                font-weight: 500;

                                &:hover{

                                    text-decoration: none;
                                }


                                &:focus{
                                    color: #000000 !important;
                                    text-decoration: none;
                                }


                            }
                        }
                    }

                    div{
                        position: absolute;
                        top: -3rem;
                        right: 0;

                        .letsgo{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            font-weight: 500;
                            color: #FFFF;

                            &:hover{
                                text-decoration: none;
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

                            }
                        }
                    }


                }
            }


            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    flex-direction: column !important;

                    .filter{
                        min-width: 20%;
                        width: 100% !important;

                        .item-filter{
                            .item{
                                margin-bottom: 1rem;

                                h6{
                                    color: $colorsSmallBlack
                                }

                                .form-check{
                                    .form-check-input{
                                        height: 18px;
                                        width: 18px;
                                    }
                                }
                            }

                            .item-classes{
                                h6{

                                }

                                .form-check{

                                }
                            }

                            .item-matieres{
                                h6{

                                }

                                .form-check{

                                }
                            }
                        }
                    }

                    .container-item-books{
                        flex: 1;
                        flex-direction: row !important;
                        justify-content: space-around !important;

                        .item-book{
                            width: fit-content;
                            box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                            border-radius: 1%;
                            min-height: 50vh;
                            height: 54vh;

                            &:hover{
                                box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                            }

                            .book-image{
                                align-items: center;
                                align-content: center;
                                justify-content: center;
                                flex: 1 !important;
                                display: flex;
                                background: #ABABAB80;
                                border-bottom: 2px solid #A0A0A0CC;
                                height: 25vh;
                            }

                            .book-description{
                                text-align: left;
                                padding: 1rem;
                                justify-content: space-around !important;
                                flex: 1;

                                & *{
                                    width: 100%;
                                }

                                .book-price{
                                    font-size: 23px;
                                    font-weight: 500;
                                    margin: 0;
                                }

                                .book-title{
                                    font-weight: 700;
                                    margin: 0;
                                }

                                .book-reference{
                                    color: #CCCCCC;
                                    margin: 0;
                                }

                                .book-number-page{
                                    color: #191818;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .home-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .navbar{
                flex-direction: column;

                .navbar-brand{
                    flex: 1;
                    margin-left: 1rem !important;

                    img{}
                }

                .content-item{
                    flex: 1;

                    ul{
                        width: 100%;
                        max-width: 100%;
                        flex: 1;
                        margin-top: 1rem;

                        .nav-item{
                            a{
                                color: #000000AD !important;
                                font-weight: 500;

                                &:hover{

                                    text-decoration: none;
                                }


                                &:focus{
                                    color: #000000 !important;
                                    text-decoration: none;
                                }


                            }
                        }
                    }

                    div{
                        position: absolute;
                        top: -3rem;
                        right: 0;

                        .letsgo{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            font-weight: 500;
                            color: #FFFF;

                            &:hover{
                                text-decoration: none;
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

                            }
                        }
                    }


                }
            }


            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    flex-direction: column !important;

                    .filter{
                        min-width: 20%;


                        .item-filter{
                            .item{
                                margin-bottom: 1rem;

                                h6{
                                    color: $colorsSmallBlack
                                }

                                .form-check{
                                    .form-check-input{
                                        height: 18px;
                                        width: 18px;
                                    }
                                }
                            }

                            .item-classes{
                                h6{

                                }

                                .form-check{

                                }
                            }

                            .item-matieres{
                                h6{

                                }

                                .form-check{

                                }
                            }
                        }
                    }

                    .container-item-books{
                        flex: 1;
                        flex-direction: row !important;
                        justify-content: space-around !important;

                        .item-book{
                            width: fit-content;
                            box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                            border-radius: 1%;
                            min-height: 50vh;
                            height: 54vh;

                            &:hover{
                                box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                            }

                            .book-image{
                                align-items: center;
                                align-content: center;
                                justify-content: center;
                                flex: 1 !important;
                                display: flex;
                                background: #ABABAB80;
                                border-bottom: 2px solid #A0A0A0CC;
                                height: 25vh;
                            }

                            .book-description{
                                text-align: left;
                                padding: 1rem;
                                justify-content: space-around !important;
                                flex: 1;

                                & *{
                                    width: 100%;
                                }

                                .book-price{
                                    font-size: 23px;
                                    font-weight: 500;
                                    margin: 0;
                                }

                                .book-title{
                                    font-weight: 700;
                                    margin: 0;
                                }

                                .book-reference{
                                    color: #CCCCCC;
                                    margin: 0;
                                }

                                .book-number-page{
                                    color: #191818;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (width: 1024px){
    .home-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .navbar{
                flex-direction: column;

                .navbar-brand{
                    flex: 1;
                    margin-left: 1rem !important;

                    img{}
                }

                .content-item{
                    flex: 1;

                    ul{
                        font-size: 1.5rem;
                        width: 100%;
                        max-width: 100%;
                        flex: 1;
                        margin-top: 1rem;

                        .nav-item{
                            a{
                                color: #000000AD !important;
                                font-weight: 500;

                                &:hover{

                                    text-decoration: none;
                                }


                                &:focus{
                                    color: #000000 !important;
                                    text-decoration: none;
                                }


                            }
                        }
                    }

                    div{
                        position: absolute;
                        top: -3rem;
                        right: 0;

                        .letsgo{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            font-weight: 500;
                            color: #FFFF;

                            &:hover{
                                text-decoration: none;
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

                            }
                        }
                    }


                }
            }


            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        font-size: 1.5rem;
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    flex-direction: column !important;

                    .filter{
                        font-size: 1.5rem;
                        min-width: 20%;


                        .item-filter{
                            .item{
                                margin-bottom: 1rem;

                                h6{
                                    color: $colorsSmallBlack
                                }

                                .form-check{
                                    .form-check-input{
                                        height: 18px;
                                        width: 18px;
                                    }
                                }
                            }

                            .item-classes{
                                h6{

                                }

                                .form-check{

                                }
                            }

                            .item-matieres{
                                h6{

                                }

                                .form-check{

                                }
                            }
                        }
                    }

                    .container-item-books{
                        flex: 1;
                        flex-direction: row !important;
                        justify-content: space-around !important;

                        h3{
                            font-size: 2rem !important;
                        }

                        .item-book{
                            width: 48%;
                            box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                            border-radius: 1%;
                            min-height: 50vh;
                            height: 54vh;

                            &:hover{
                                box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                            }

                            .book-image{
                                align-items: center;
                                align-content: center;
                                justify-content: center;
                                flex: 1 !important;
                                display: flex;
                                background: #ABABAB80;
                                border-bottom: 2px solid #A0A0A0CC;
                                height: 25vh;
                            }

                            .book-description{
                                text-align: left;
                                padding: 1rem;
                                justify-content: space-around !important;
                                flex: 1;
                                font-size: 1.5rem;

                                & *{
                                    width: 100%;
                                }

                                .book-price{
                                    font-size: 2.5rem;
                                    font-weight: 500;
                                    margin: 0;
                                }

                                .book-title{
                                    font-weight: 700;
                                    margin: 0;
                                }

                                .book-reference{
                                    color: #CCCCCC;
                                    margin: 0;
                                }

                                .book-number-page{
                                    color: #191818;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }

    }


}
