.login-main-page{
    min-height: 100vh;
    margin: 0;

    .content-left{
        .content-bottom{
            a{
                flex: 0.2;
            }

            .title-form{
                flex: 0.14;
                display: flex;
            }

            .content-form{
                .form{
                    .form-group{
                        label{
                            font-weight: 600;
                        }
                    }

                    .form-check{
                        label{
                            font-weight: 600;
                            position: absolute;
                            left: 2rem;
                        }

                        input{
                            height: 23px;
                            width: 23px;
                            position: absolute;
                            margin-top: 0;
                            background: $primary;
                            color: $primary;

                            &:checked{
                                background: $primary;
                                color: $primary;
                            }
                        }
                    }

                    .btn-rounded{
                        background: #FF6624;
                        color: #FFFFFF;
                        font-weight: bold;
                        border-radius: 50px;
                        display: flex;
                        margin-top: 4rem;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        padding: .6rem 0;

                        &:focus{
                            border: none !important;
                        }

                        &:hover{
                            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                        }
                    }

                    .go-register{
                        text-decoration: underline;
                        color: var(--cyan);
                        font-weight: bold;display: flex;justify-content: center;
                        margin-top: 1rem;

                    }
                }
            }
        }
    }


    .content-right{
        background: linear-gradient(190deg, #7C72B17A, #7C72B17A), url("/images/2-QUIZZ.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        div{
            margin-right: 2rem;
            margin-top: 1rem;
        }
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .login-main-page{

        .content-left{
            .content-bottom{
                padding: 0;

                a{
                    width: 50%;
                    flex: 0.4;
                    justify-content: center;

                    img{
                        width: 81%;
                        height: 81%;
                    }
                }

                .title-form{
                    font-size: 2rem;
                    color: #FFFFFF;
                }

                .content-form{
                    padding: 0;

                    .form{
                        padding: 0;
                        width: 100%;

                        .form-group{
                            label{
                            }
                        }

                        .form-check{
                            label{
                            }

                            input{

                                &:checked{
                                }
                            }
                        }

                        .btn-rounded{

                            &:focus{
                                border: none !important;
                            }

                            &:hover{
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                            }
                        }

                        .go-register{
                            color: #000000;
                        }
                    }
                }
            }
        }


        .content-right{
            height: 100vh;
            position: absolute;
            z-index: -1;

            div{
            }
        }
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .login-main-page{

        .content-left{
            .content-bottom{
                padding: 0;

                a{
                    width: 50%;
                    flex: 0;
                    justify-content: center;

                    img{

                    }
                }

                .title-form{
                    margin-top: 2rem;
                    color: #FFFFFF;
                }

                .content-form{
                    padding: 0;

                    .form{
                        padding: 0;
                        width: 100%;

                        .form-group{
                            label{
                            }
                        }

                        .form-check{
                            label{
                            }

                            input{

                                &:checked{
                                }
                            }
                        }

                        .btn-rounded{

                            &:focus{
                                border: none !important;
                            }

                            &:hover{
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                            }
                        }

                        .go-register{
                            color: #000000;width: 100%;
                        }
                    }
                }
            }
        }


        .content-right{
            height: 100vh;
            position: absolute;
            z-index: -1;

            div{
            }
        }
    }

}


@media only screen and (width: 1024px){
    .login-main-page{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
        align-content: center;

        .content-left{
            width: 100%;
            max-width: 100%;

            .content-bottom{
                padding: 0;
                flex: 1;
                width: 100%;

                a{
                    width: 50%;
                    flex: 0;
                    height: 50%;
                    justify-content: center;

                    img{
                        height: 10rem;
                    }
                }

                .title-form{
                    color: #FFFFFF;
                    font-size: 5rem;
                }

                .content-form{
                    padding: 0;

                    .form{

                        padding: 0;
                        width: 100%;
                        flex: 1;
                        margin-top: 2rem;

                        .form-group{
                            label{
                                font-size: 2rem;
                            }

                            input{
                                height: 50px;
                            }
                        }

                        .form-check{
                            width: 100%;

                            label{
                                font-size: 1.5rem;
                            }

                            input{
                                height: 34px;
                                width: 30px;

                                &:checked{
                                }
                            }
                        }

                        .btn-rounded{
                            font-size: 2rem;

                            &:focus{
                                border: none !important;
                            }

                            &:hover{
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                            }
                        }

                        .go-register{
                            color: #000000;
                            width: 100%;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }


        .content-right{
            height: 100vh;
            max-width: 100%;
            position: absolute;
            z-index: -1;

            div{
            }
        }
    }

}
