.register-main-page{
    min-height: 100vh;

    .content-left{
        .content-bottom{
            a.navbar-brand{
                flex: 0.4;
            }

            .title-form{
                flex: 0.14;
                display: flex;
            }

            .content-form{
                .form{
                    #step1{
                        .form-group{
                            label{
                                font-weight: 600;
                            }
                        }
                    }

                    #step2{
                        .input-group{
                            .input-group-prepend{
                                input{
                                    height: 23px;
                                    width: 23px;
                                }
                            }
                        }
                    }

                    .form-check{
                        label{
                            font-weight: 600;
                            //position: absolute;
                            //left: 2rem;
                        }

                        input{
                            height: 18px;
                            width: 18px;
                            // position: absolute;
                            margin-top: 0;
                            background: $primary;
                            color: $primary;

                            &:checked{
                                background: $primary;
                                color: $primary;
                            }
                        }
                    }

                    .btn-rounded{
                        background: #FF6624;
                        color: #FFFFFF;
                        font-weight: bold;
                        border-radius: 50px;
                        display: flex;
                        margin-top: 2rem;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        padding: .6rem 0;

                        &:focus{
                            border: none !important;
                        }

                        &:hover{
                            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                            text-decoration: none;
                        }
                    }

                    .go-register{
                        text-decoration: underline;
                        color: var(--cyan);
                        font-weight: bold;display: flex;justify-content: center;
                        margin-top: 1rem;

                    }
                }
            }
        }
    }

    .display-none{
        display: none;
    }

    .content-right{
        background: linear-gradient(190deg, #7C72B17A, #7C72B17A), url("/images/2-QUIZZ.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        div{
            margin-right: 2rem;
            margin-top: 1rem;
        }
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .register-main-page{
        .content-left{
            .content-bottom{
                a.navbar-brand{
                }

                .title-form{
                    margin-top: 1rem;
                }

                .content-form{
                    .form{
                        width: 100%;
                        max-width: 100%;
                        flex: 1;

                        #step1{
                            width: 100%;
                            max-width: 100%;

                            .form-group{
                                label{
                                    font-weight: 600;
                                }
                            }
                        }

                        #step2{
                            width: 100%;
                            max-width: 100%;

                            .input-group{
                                .input-group-prepend{
                                    input{
                                        height: 23px;
                                        width: 23px;
                                    }
                                }
                            }
                        }

                        .form-check{
                            label{
                                font-weight: 600;
                                //position: absolute;
                                //left: 2rem;
                            }

                            input{
                                height: 18px;
                                width: 18px;
                                // position: absolute;
                                margin-top: 0;
                                background: $primary;
                                color: $primary;

                                &:checked{
                                    background: $primary;
                                    color: $primary;
                                }
                            }
                        }

                        .btn-rounded{
                            background: #FF6624;
                            color: #FFFFFF;
                            font-weight: bold;
                            border-radius: 50px;
                            display: flex;
                            margin-top: 2rem;
                            align-content: center;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            padding: .6rem 0;

                            &:focus{
                                border: none !important;
                            }

                            &:hover{
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                                text-decoration: none;
                            }
                        }

                        .content-btn{
                            flex-direction: column;
                            margin: 0 !important;
                        }

                        .go-register{
                            flex: 1;
                            font-size: 14px;
                            margin-bottom: 1rem;
                            color: #000000;

                        }
                    }
                }
            }
        }

        .display-none{
            display: none;
        }

        .content-right{
            height: 100vh;
            position: absolute;
            z-index: -1;

            div{
                margin-right: 2rem;
                margin-top: 1rem;
            }
        }
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .register-main-page{
        justify-content: center !important;
        align-items: center;
        align-content: center;

        .content-left{
            width: 100%;
            flex: 1;
            max-width: 100%;
            justify-content: center !important;

            .content-bottom{
                a.navbar-brand{
                    flex: .6;
                    margin-bottom: 2rem !important;

                    img{
                        height: 11rem;
                    }
                }

                .title-form{
                    margin-top: 1rem;
                    font-size: 3rem;
                }

                .content-form{
                    .form{
                        width: 100%;
                        max-width: 100%;
                        flex: 1;

                        #step1{
                            width: 100%;
                            max-width: 100%;

                            .form-group{
                                label{
                                    font-weight: 600;
                                }
                            }
                        }

                        #step2{
                            width: 100%;
                            max-width: 100%;

                            .input-group{
                                .input-group-prepend{
                                    input{
                                        height: 23px;
                                        width: 23px;
                                    }
                                }
                            }
                        }

                        .form-check{
                            label{
                                font-size: 1.5rem;
                                font-weight: 600;
                                //position: absolute;
                                //left: 2rem;
                            }

                            input{
                                height: 18px;
                                width: 18px;
                                // position: absolute;
                                margin-top: 0;
                                background: $primary;
                                color: $primary;

                                &:checked{
                                    background: $primary;
                                    color: $primary;
                                }
                            }
                        }

                        .btn-rounded{
                            font-size: 1.4rem;

                            &:focus{
                                border: none !important;
                            }

                            &:hover{
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                                text-decoration: none;
                            }
                        }

                        .content-btn{
                            flex-direction: column;
                            margin: 0 !important;
                        }

                        .go-register{
                            font-size: 1.2rem;
                            margin-bottom: 1rem;
                            color: #000000;
                        }
                    }
                }
            }
        }

        .display-none{
            display: none;
        }

        .content-right{
            height: 100vh;
            position: absolute;
            z-index: -1;
            flex: 1;
            max-width: 100%;

            div{
                margin-right: 2rem;
                margin-top: 1rem;
            }
        }
    }

}

@media only screen and (width: 1024px){
    .register-main-page{
        justify-content: center !important;
        align-items: center;
        align-content: center;

        .content-left{
            width: 100%;
            flex: 1;
            max-width: 100%;
            justify-content: center !important;

            .content-bottom{
                a.navbar-brand{
                    flex: .6;
                    margin-bottom: 2rem !important;

                    img{
                        height: 11rem;
                    }
                }

                .title-form{
                    margin-top: 1rem;
                    font-size: 3rem;
                }

                .content-form{
                    .form{
                        width: 100%;
                        max-width: 100%;
                        flex: 1;

                        #step1{
                            width: 100%;
                            max-width: 100%;

                            .form-group{
                                label{
                                    font-weight: 600;
                                }
                            }
                        }

                        #step2{
                            width: 100%;
                            max-width: 100%;

                            .input-group{
                                .input-group-prepend{
                                    input{
                                        height: 23px;
                                        width: 23px;
                                    }
                                }
                            }
                        }

                        .form-check{
                            label{
                                font-size: 1.5rem;
                                font-weight: 600;
                                //position: absolute;
                                //left: 2rem;
                            }

                            input{
                                height: 18px;
                                width: 18px;
                                // position: absolute;
                                margin-top: 0;
                                background: $primary;
                                color: $primary;

                                &:checked{
                                    background: $primary;
                                    color: $primary;
                                }
                            }
                        }

                        .btn-rounded{
                            font-size: 1.4rem;

                            &:focus{
                                border: none !important;
                            }

                            &:hover{
                                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
                                text-decoration: none;
                            }
                        }

                        .content-btn{
                            flex-direction: column;
                            margin: 0 !important;
                        }

                        .go-register{
                            font-size: 1.2rem;

                        }
                    }
                }
            }
        }

        .display-none{
            display: none;
        }

        .content-right{
            height: 100vh;
            position: absolute;
            z-index: -1;
            flex: 1;
            max-width: 100%;

            div{
                margin-right: 2rem;
                margin-top: 1rem;
            }
        }
    }
}
