$colorsSmallBlack: #0000005C;

.start-examens-page-main-page{
    min-height: 100vh;

    .content{
        padding: 0;

        .content-bootom{
            margin-top: 1rem;

            nav{
                ol.breadcrumb{
                    background-color: transparent;

                    .breadcrumb-item{


                        a{
                            color: #000000AD;
                        }

                        &.active{
                            color: #FF6624;

                            &::before{
                                content: ">";
                            }
                        }

                    }
                }

            }

            .content-body{
                .filter{
                    min-width: 20%;


                    .content-item-start-examen{
                        margin-bottom: 2rem;
                        margin-top: 1rem;
                        width: 100%;

                        .item-start-examen{
                            border-radius: 5%;
                            box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                            height: 35vh;
                            justify-content: space-around;
                            min-height: 30vh;
                            min-width: 88% !important;
                            padding: 1rem;
                            width: 81% !important;

                            &:hover{
                                box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                            }

                            .quiz-of-course-image{
                                align-content: center;
                                align-items: center;
                                background: #026BB4B8;
                                border-radius: 50%;
                                display: flex;
                                height: 5vh !important;
                                justify-content: center;
                                padding: 7px;
                                width: fit-content;

                                span{
                                    color: #FFFFFF;
                                    font-size: 25px;
                                }
                            }

                            .quiz-of-course-description{
                                flex: 1;
                                justify-content: space-evenly !important;
                                text-align: left;

                                & *{
                                    width: 100%;
                                }

                                .quiz-of-course-chapitre{
                                    align-content: center;
                                    color: $colorsSmallBlack;
                                    font-size: 13px;
                                    font-weight: 500;
                                    margin: 0;

                                    .mdi{
                                        font-size: 22px;
                                        margin-right: .2rem;
                                        width: fit-content !important;
                                    }

                                    .number-chap{
                                        align-items: center;
                                        display: flex;
                                        font-size: 13px;
                                        height: 100%;
                                        width: 59%;


                                    }

                                    .border-r{
                                        border-right: 2px solid $colorsSmallBlack;
                                    }
                                }

                                .content-ratio{
                                    .ratio{
                                        font-size: 38px;
                                    }

                                    .text-success{
                                        margin-bottom: 2rem;
                                    }
                                }

                                .quiz-of-course-title{
                                    color: #4894C9 !important;
                                    font-size: 18px;
                                    font-weight: 700;
                                    margin: 0;
                                    margin-top: 1rem;
                                }

                                .quiz-of-course-resume{
                                    align-content: center;
                                    align-items: center;
                                    color: #191818;
                                    font-weight: 400;

                                    .mdi-check-circle{
                                        color: green;
                                        font-size: 32px;
                                    }

                                    div{
                                        flex: 0;

                                        .mdi-book-open-variant{
                                            align-items: center;
                                            color: #CCCCCC;
                                            display: flex;
                                            font-size: 22px;
                                            text-align: center;
                                            width: fit-content !important;
                                        }

                                        .lb{
                                            color: #CCCCCC;
                                            display: flex;
                                            margin-bottom: .3rem;
                                            margin-left: .5rem;
                                            width: max-content !important;
                                        }
                                    }
                                }

                                .quiz-of-course-stats{
                                    div{
                                        button{
                                            width: fit-content;

                                            &.btn-outline-light{
                                                border: 2px solid #CCCCCC;
                                                color: #0E0E0ECC;
                                                width: fit-content;
                                            }

                                            &.info{
                                                background-color: #4894C9;
                                            }
                                        }

                                    }
                                }


                                .progress{
                                    height: 7px;
                                }

                                .content-note{
                                    .font-weight-bold{
                                        align-items: center;
                                        display: flex;
                                        flex: 1;
                                        justify-content: flex-start;
                                    }

                                    .note{
                                        flex: 3;
                                        font-size: 24px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                    }
                }

                .container-item-start-examen{
                    .content-start-examen, .content-start-examen-response{
                        align-items: center;
                        background-color: #CCC3;
                        border: 2px solid #8E8E8E80;
                        border-radius: 9px;
                        display: flex;
                        padding: 1rem;
                        width: 100%;

                        &:hover{
                        }

                        .question{
                            font-weight: bold;
                        }
                    }

                    .content-start-examen-response{
                        input{
                            height: 18px;
                            width: 18px;
                        }

                        .question{
                            font-weight: 500;
                        }
                    }

                    .control{

                        margin-top: 4rem;

                        .c-btn-validate{
                            flex: 1;
                        }

                        .navigation{
                            flex: 0.2;

                            .btn{
                                width: 35%;
                                border: 2px solid $colorsSmallBlack;
                                color: #000000;
                                background-color: #FFFFFF;
                            }
                        }
                    }

                    .text-small-black{
                        margin-top: 4rem;
                    }
                }
            }
        }
    }

}

.text-bold{
    color: #000000 !important;
    font-size: 21px;
    font-weight: 400 !important;
}

.text-small-black{
    color: $colorsSmallBlack;
}

.btn-outline-light{
    color: #0000005C;
    font-weight: 500;
    border: 2px solid #ABABAB6E;
    background: #FFFFFF;
}

/*
#modalFormStartQuiz{
    .modal-dialog{
        .modal-content{
            border-radius: 16px;

            .modal-header{
                border-bottom: 0;

                .container-icon{
                    background: #FF6624;
                    color: #FFFFFF;
                    font-size: 20px;
                    border-radius: 100%;
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    padding: .5rem;
                    margin-right: 1rem;
                }
            }

            .modal-body{

            }

            .modal-footer{
                border-top: 0;
                background: #EAEAEA;
                border-bottom-right-radius: 16px;
                border-bottom-left-radius: 16px;

                .btn-outline-light{
                    color: #0000005C;
                    font-weight: 500;
                    border: 2px solid #ABABAB6E;
                    background: #FFFFFF;
                }
            }
        }
    }
}

*/


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .start-examens-page-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    flex-direction: column !important;
                    padding: 0;
                    .filter{
                        min-width: 20%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .content-item-start-examen{
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                            width: 100%;
                            justify-content: center !important;
                            align-items: center;

                            .item-start-examen{
                                margin: 0;
                                border-radius: 5%;
                                box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                                height: 45vh;
                                justify-content: space-around;
                                min-height: 30vh;
                                min-width: 88% !important;
                                padding: 1rem;
                                width: 100% !important;

                                &:hover{
                                    box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                                }

                                .quiz-of-course-image{
                                    align-content: center;
                                    align-items: center;
                                    background: #026BB4B8;
                                    border-radius: 50%;
                                    display: flex;
                                    height: 6vh !important;
                                    justify-content: center;
                                    padding: 7px;
                                    width: 13%;

                                    span{
                                        color: #FFFFFF;
                                        font-size: 25px;
                                    }
                                }

                                .quiz-of-course-description{
                                    flex: 1;
                                    justify-content: space-evenly !important;
                                    text-align: left;

                                    & *{
                                        width: 100%;
                                    }

                                    .quiz-of-course-chapitre{
                                        align-content: center;
                                        color: $colorsSmallBlack;
                                        font-size: 13px;
                                        font-weight: 500;
                                        margin: 0;

                                        .mdi{
                                            font-size: 22px;
                                            margin-right: .2rem;
                                            width: fit-content !important;
                                        }

                                        .number-chap{
                                            align-items: center;
                                            display: flex;
                                            font-size: 13px;
                                            height: 100%;
                                            width: 59%;


                                        }

                                        .border-r{
                                            border-right: 2px solid $colorsSmallBlack;
                                        }
                                    }

                                    .content-ratio{
                                        .ratio{
                                            font-size: 38px;
                                        }

                                        .text-success{
                                            margin-bottom: 2rem;
                                        }
                                    }

                                    .quiz-of-course-title{
                                        color: #4894C9 !important;
                                        font-size: 18px;
                                        font-weight: 700;
                                        margin: 0;
                                        margin-top: 1rem;
                                    }

                                    .quiz-of-course-resume{
                                        align-content: center;
                                        align-items: center;
                                        color: #191818;
                                        font-weight: 400;

                                        .mdi-check-circle{
                                            color: green;
                                            font-size: 32px;
                                        }

                                        div{
                                            flex: 0;

                                            .mdi-book-open-variant{
                                                align-items: center;
                                                color: #CCCCCC;
                                                display: flex;
                                                font-size: 22px;
                                                text-align: center;
                                                width: fit-content !important;
                                            }

                                            .lb{
                                                color: #CCCCCC;
                                                display: flex;
                                                margin-bottom: .3rem;
                                                margin-left: .5rem;
                                                width: max-content !important;
                                            }
                                        }
                                    }

                                    .quiz-of-course-stats{
                                        div{
                                            button{
                                                width: fit-content;

                                                &.btn-outline-light{
                                                    border: 2px solid #CCCCCC;
                                                    color: #0E0E0ECC;
                                                    width: fit-content;
                                                }

                                                &.info{
                                                    background-color: #4894C9;
                                                }
                                            }

                                        }
                                    }


                                    .progress{
                                        height: 7px;
                                    }

                                    .content-note{
                                        .font-weight-bold{
                                            align-items: center;
                                            display: flex;
                                            flex: 1;
                                            justify-content: flex-start;
                                        }

                                        .note{
                                            flex: 3;
                                            font-size: 24px;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }

                        }
                    }

                    .container-item-start-examen{
                        .content-start-examen, .content-start-examen-response{
                            align-items: center;
                            background-color: #CCC3;
                            border: 2px solid #8E8E8E80;
                            border-radius: 9px;
                            display: flex;
                            padding: 1rem;
                            width: 100%;

                            &:hover{
                            }

                            .question{
                                font-weight: bold;
                            }
                        }

                        .content-start-examen-response{
                            input{
                                height: 18px;
                                width: 18px;
                            }

                            .question{
                                font-weight: 500;
                            }
                        }

                        .control{

                            margin: 1rem 0;

                            .c-btn-validate{
                                flex: 1;
                            }

                            .navigation{
                                flex: 0.2;

                                .btn{
                                    width: 35%;
                                    border: 2px solid $colorsSmallBlack;
                                    color: #000000;
                                    background-color: #FFFFFF;
                                }
                            }
                        }

                        .text-small-black{
                            margin-top: 4rem;
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .start-examens-page-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    .filter{
                        min-width: 20%;


                        .content-item-start-examen{
                            margin-bottom: 2rem;
                            margin-top: 1rem;
                            width: 100%;

                            .item-start-examen{
                                border-radius: 5%;
                                box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
                                height: 35vh;
                                justify-content: space-around;
                                min-height: 30vh;
                                min-width: 64% !important;
                                padding: 2rem;
                                width: 63% !important;

                                &:hover{
                                    box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                                }

                                .quiz-of-course-image{
                                    align-content: center;
                                    align-items: center;
                                    background: #026BB4B8;
                                    border-radius: 50%;
                                    display: flex;
                                    height: 5vh !important;
                                    justify-content: center;
                                    padding: 7px;
                                    width: fit-content;

                                    span{
                                        color: #FFFFFF;
                                        font-size: 25px;
                                    }
                                }

                                .quiz-of-course-description{
                                    flex: 1;
                                    justify-content: space-evenly !important;
                                    text-align: left;

                                    & *{
                                        width: 100%;
                                    }

                                    .quiz-of-course-chapitre{
                                        align-content: center;
                                        color: $colorsSmallBlack;
                                        font-size: 13px;
                                        font-weight: 500;
                                        margin: 0;

                                        .mdi{
                                            font-size: 22px;
                                            margin-right: .2rem;
                                            width: fit-content !important;
                                        }

                                        .number-chap{
                                            align-items: center;
                                            display: flex;
                                            font-size: 13px;
                                            height: 100%;
                                            width: 59%;


                                        }

                                        .border-r{
                                            border-right: 2px solid $colorsSmallBlack;
                                        }
                                    }

                                    .content-ratio{
                                        .ratio{
                                            font-size: 38px;
                                        }

                                        .text-success{
                                            margin-bottom: 2rem;
                                        }
                                    }

                                    .quiz-of-course-title{
                                        color: #4894C9 !important;
                                        font-size: 18px;
                                        font-weight: 700;
                                        margin: 0;
                                        margin-top: 1rem;
                                    }

                                    .quiz-of-course-resume{
                                        align-content: center;
                                        align-items: center;
                                        color: #191818;
                                        font-weight: 400;

                                        .mdi-check-circle{
                                            color: green;
                                            font-size: 32px;
                                        }

                                        div{
                                            flex: 0;

                                            .mdi-book-open-variant{
                                                align-items: center;
                                                color: #CCCCCC;
                                                display: flex;
                                                font-size: 22px;
                                                text-align: center;
                                                width: fit-content !important;
                                            }

                                            .lb{
                                                color: #CCCCCC;
                                                display: flex;
                                                margin-bottom: .3rem;
                                                margin-left: .5rem;
                                                width: max-content !important;
                                            }
                                        }
                                    }

                                    .quiz-of-course-stats{
                                        div{
                                            button{
                                                width: fit-content;

                                                &.btn-outline-light{
                                                    border: 2px solid #CCCCCC;
                                                    color: #0E0E0ECC;
                                                    width: fit-content;
                                                }

                                                &.info{
                                                    background-color: #4894C9;
                                                }
                                            }

                                        }
                                    }


                                    .progress{
                                        height: 7px;
                                    }

                                    .content-note{
                                        .font-weight-bold{
                                            align-items: center;
                                            display: flex;
                                            flex: 1;
                                            justify-content: flex-start;
                                        }

                                        .note{
                                            flex: 3;
                                            font-size: 24px;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }

                        }
                    }

                    .container-item-start-examen{
                        .content-start-examen, .content-start-examen-response{
                            align-items: center;
                            background-color: #CCC3;
                            border: 2px solid #8E8E8E80;
                            border-radius: 9px;
                            display: flex;
                            padding: 1rem;
                            width: 100%;

                            &:hover{
                            }

                            .question{
                                font-weight: bold;
                            }
                        }

                        .content-start-examen-response{
                            input{
                                height: 18px;
                                width: 18px;
                            }

                            .question{
                                font-weight: 500;
                            }
                        }

                        .control{

                            margin-top: 4rem;

                            .c-btn-validate{
                                flex: 1;
                            }

                            .navigation{
                                flex: 0.2;

                                .btn{
                                    width: 35%;
                                    border: 2px solid $colorsSmallBlack;
                                    color: #000000;
                                    background-color: #FFFFFF;
                                }
                            }
                        }

                        .text-small-black{
                            margin-top: 4rem;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

    }
}


@media only screen and (width: 1024px){
    .start-examens-page-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    flex-direction: column !important;
                    .filter{
                        min-width: 20%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .content-item-start-examen{
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                            width: 100%;
                            justify-content: center !important;
                            align-items: center;

                            .item-start-examen{
                                margin: 0;
                                border-radius: 5%;
                                box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
                                height: 34vh;
                                justify-content: space-around;
                                min-height: 30vh;
                                min-width: 64% !important;
                                padding: 2rem;
                                width: 62% !important;

                                &:hover{
                                    box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                                }

                                .quiz-of-course-image{
                                    align-content: center;
                                    align-items: center;
                                    background: #026BB4B8;
                                    border-radius: 50%;
                                    display: flex;
                                    height: 6vh !important;
                                    justify-content: center;
                                    padding: 7px;
                                    width: 13%;

                                    span{
                                        color: #FFFFFF;
                                        font-size: 25px;
                                    }
                                }

                                .quiz-of-course-description{
                                    flex: 1;
                                    justify-content: space-evenly !important;
                                    text-align: left;

                                    & *{
                                        width: 100%;
                                    }

                                    .quiz-of-course-chapitre{
                                        align-content: center;
                                        color: $colorsSmallBlack;
                                        font-size: 13px;
                                        font-weight: 500;
                                        margin: 0;
                                        font-size: 1.2rem;
                                        .mdi{
                                            font-size: 22px;
                                            margin-right: .2rem;
                                            width: fit-content !important;
                                        }

                                        .number-chap{
                                            align-items: center;
                                            display: flex;
                                            height: 100%;
                                            width: 59%;
                                            font-size: 1.2rem;

                                        }

                                        .border-r{
                                            border-right: 2px solid $colorsSmallBlack;
                                        }
                                    }

                                    .content-ratio{
                                        .ratio{
                                            font-size: 38px;
                                        }

                                        .text-success{
                                            margin-bottom: 2rem;
                                        }
                                    }

                                    .quiz-of-course-title{
                                        color: #4894C9 !important;
                                        font-size: 2.2rem;
                                        font-weight: 700;
                                        margin: 0;
                                        margin-top: 1rem;
                                    }

                                    .quiz-of-course-resume{
                                        align-content: center;
                                        align-items: center;
                                        color: #191818;
                                        font-weight: 400;

                                        .mdi-check-circle{
                                            color: green;
                                            font-size: 32px;
                                        }

                                        div{
                                            flex: 0;

                                            .mdi-book-open-variant{
                                                align-items: center;
                                                color: #CCCCCC;
                                                display: flex;
                                                font-size: 22px;
                                                text-align: center;
                                                width: fit-content !important;
                                            }

                                            .lb{
                                                color: #CCCCCC;
                                                display: flex;
                                                margin-bottom: .3rem;
                                                margin-left: .5rem;
                                                width: max-content !important;
                                            }
                                        }
                                    }

                                    .quiz-of-course-stats{
                                        div{
                                            button{
                                                width: fit-content;

                                                &.btn-outline-light{
                                                    border: 2px solid #CCCCCC;
                                                    color: #0E0E0ECC;
                                                    width: fit-content;
                                                }

                                                &.info{
                                                    background-color: #4894C9;
                                                }
                                            }

                                        }
                                    }


                                    .progress{
                                        height: 7px;
                                    }

                                    .content-note{
                                        .font-weight-bold{
                                            align-items: center;
                                            display: flex;
                                            flex: 1;
                                            justify-content: flex-start;
                                        }

                                        .note{
                                            flex: 3;
                                            font-size: 24px;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }

                        }
                    }

                    .container-item-start-examen{
                        .content-start-examen, .content-start-examen-response{
                            align-items: center;
                            background-color: #CCC3;
                            border: 2px solid #8E8E8E80;
                            border-radius: 9px;
                            display: flex;
                            padding: 1rem;
                            width: 100%;

                            &:hover{
                            }

                            .question{
                                font-weight: bold;
                            }
                        }

                        .content-start-examen-response{
                            input{
                                height: 18px;
                                width: 18px;
                            }

                            .question{
                                font-weight: 500;
                            }
                        }

                        .control{

                            margin-top: 4rem;

                            .c-btn-validate{
                                flex: 1;
                            }

                            .navigation{
                                flex: 0.2;

                                .btn{
                                    width: 35%;
                                    border: 2px solid $colorsSmallBlack;
                                    color: #000000;
                                    background-color: #FFFFFF;
                                }
                            }
                        }

                        .text-small-black{
                            margin-top: 4rem;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

    }
}
