$colorsSmallBlack: #0000005C;

.start-learn-main-page{
    min-height: 100vh;

    .content{
        padding: 0;

        .content-bootom{
            margin-top: 1rem;

            nav{
                ol.breadcrumb{
                    background-color: transparent;

                    .breadcrumb-item{


                        a{
                            color: #000000AD;
                        }

                        &.active{
                            color: #FF6624;

                            &::before{
                                content: ">";
                            }
                        }

                    }
                }

            }

            .content-body{
                .filter{
                    min-width: 20%;


                    .item-filter{
                        border: 1px solid #CCCCCC;
                        border-radius: 21px;
                        padding: 0;

                        .item-classes{
                            margin: 0;
                            padding: 0rem;

                            margin-bottom: 1rem;

                            .nav{
                                .nav-link{
                                    border-bottom: 1px solid #E6E6E6;
                                    padding: 1rem;
                                    background: inherit !important;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: flex-start;
                                    font-size: 22px;

                                    &:last-child{
                                        border-bottom: none;
                                    }

                                    &.active{
                                        span{
                                            color: #63A3D0;

                                            &.mdi{
                                                margin-right: 1rem;
                                                color: #63A3D0;
                                            }
                                        }


                                    }

                                    span{
                                        &.mdi{
                                            margin-right: 1rem;
                                            color: $colorsSmallBlack;
                                        }


                                        color: #000000;
                                    }
                                }
                            }

                            .form-check{

                            }
                        }

                    }
                }

                .container-file-learn{
                    border: 1px solid #CCCCCC;
                    border-radius: 9px;
                    margin-right: 4rem;
                    padding: 1rem;

                    .tab-content{
                        .tab-pane{
                            .file{
                                embed{
                                    height: 75rem
                                }
                            }

                            .section-bottom{
                                margin-top: 2rem;
                                display: flex;
                                align-items: center;

                                .form-check{
                                    display: flex;
                                    align-items: center;

                                    .form-check-input{
                                        height: 18px;
                                        width: 18px;
                                    }

                                    label{
                                        font-weight: bold;
                                        margin: 0;
                                    }
                                }

                                button{
                                    display: flex;
                                    justify-content: flex-end;
                                    float: end;
                                    text-align: end;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.text-bold{
    font-size: 21px;
    font-weight: 400 !important;
    color: #000000 !important;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .start-learn-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    flex-direction: column !important;

                    .filter{
                        margin-bottom: 1rem;
                        width: 100%;
                        min-width: 20%;


                        .item-filter{
                            border: 1px solid #CCCCCC;
                            border-radius: 21px;
                            padding: 0;

                            .item-classes{
                                margin: 0;
                                padding: 0rem;

                                margin-bottom: 1rem;

                                .nav{
                                    .nav-link{
                                        border-bottom: 1px solid #E6E6E6;
                                        padding: 1rem;
                                        background: inherit !important;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: flex-start;
                                        font-size: 22px;

                                        &:last-child{
                                            border-bottom: none;
                                        }

                                        &.active{
                                            span{
                                                color: #63A3D0;

                                                &.mdi{
                                                    margin-right: 1rem;
                                                    color: #63A3D0;
                                                }
                                            }


                                        }

                                        span{
                                            &.mdi{
                                                margin-right: 1rem;
                                                color: $colorsSmallBlack;
                                            }


                                            color: #000000;
                                        }
                                    }
                                }

                                .form-check{

                                }
                            }

                        }
                    }

                    .container-file-learn{
                        border: 1px solid #CCCCCC;
                        border-radius: 9px;
                        margin-right: 0rem;
                        padding: 1rem;

                        .tab-content{
                            .tab-pane{
                                .file{
                                    embed{
                                        height: 75rem
                                    }
                                }

                                .section-bottom{
                                    margin-top: 2rem;
                                    display: flex;
                                    align-items: center;
                                    margin-right: 0;
                                    justify-content: center !important;
                                    align-content: center !important;

                                    .form-check{
                                        display: flex;
                                        align-items: center;

                                        .form-check-input{
                                            height: 18px;
                                            width: 18px;
                                        }

                                        label{
                                            font-weight: bold;
                                            margin: 0;
                                        }
                                    }

                                    button{
                                        display: flex;
                                        justify-content: flex-end;
                                        float: end;
                                        text-align: end;
                                        align-items: center;
                                        margin-top: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .start-learn-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    .filter{
                        min-width: 20%;


                        .item-filter{
                            border: 1px solid #CCCCCC;
                            border-radius: 21px;
                            padding: 0;

                            .item-classes{
                                margin: 0;
                                padding: 0rem;

                                margin-bottom: 1rem;

                                .nav{
                                    .nav-link{
                                        border-bottom: 1px solid #E6E6E6;
                                        padding: 1rem;
                                        background: inherit !important;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: flex-start;
                                        font-size: 22px;

                                        &:last-child{
                                            border-bottom: none;
                                        }

                                        &.active{
                                            span{
                                                color: #63A3D0;

                                                &.mdi{
                                                    margin-right: 1rem;
                                                    color: #63A3D0;
                                                }
                                            }


                                        }

                                        span{
                                            &.mdi{
                                                margin-right: 1rem;
                                                color: $colorsSmallBlack;
                                            }


                                            color: #000000;
                                        }
                                    }
                                }

                                .form-check{

                                }
                            }

                        }
                    }

                    .container-file-learn{
                        border: 1px solid #CCCCCC;
                        border-radius: 9px;
                        margin-right: 4rem;
                        padding: 1rem;

                        .tab-content{
                            .tab-pane{
                                .file{
                                    embed{
                                        height: 75rem
                                    }
                                }

                                .section-bottom{
                                    margin-top: 2rem;
                                    display: flex;
                                    align-items: center;

                                    .form-check{
                                        display: flex;
                                        align-items: center;

                                        .form-check-input{
                                            height: 18px;
                                            width: 18px;
                                        }

                                        label{
                                            font-weight: bold;
                                            margin: 0;
                                        }
                                    }

                                    button{
                                        display: flex;
                                        justify-content: flex-end;
                                        float: end;
                                        text-align: end;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (width: 1024px){
    .start-learn-main-page{
        min-height: 100vh;

        .content{
            padding: 0;

            .content-bootom{
                margin-top: 1rem;

                nav{
                    ol.breadcrumb{
                        background-color: transparent;

                        .breadcrumb-item{


                            a{
                                color: #000000AD;
                            }

                            &.active{
                                color: #FF6624;

                                &::before{
                                    content: ">";
                                }
                            }

                        }
                    }

                }

                .content-body{
                    .filter{
                        min-width: 20%;


                        .item-filter{
                            border: 1px solid #CCCCCC;
                            border-radius: 21px;
                            padding: 0;

                            .item-classes{
                                margin: 0;
                                padding: 0rem;

                                margin-bottom: 1rem;

                                .nav{
                                    .nav-link{
                                        border-bottom: 1px solid #E6E6E6;
                                        padding: 1rem;
                                        background: inherit !important;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: flex-start;
                                        font-size: 22px;

                                        &:last-child{
                                            border-bottom: none;
                                        }

                                        &.active{
                                            span{
                                                color: #63A3D0;

                                                &.mdi{
                                                    margin-right: 1rem;
                                                    color: #63A3D0;
                                                }
                                            }


                                        }

                                        span{
                                            &.mdi{
                                                margin-right: 1rem;
                                                color: $colorsSmallBlack;
                                            }


                                            color: #000000;
                                        }
                                    }
                                }

                                .form-check{

                                }
                            }

                        }
                    }

                    .container-file-learn{
                        border: 1px solid #CCCCCC;
                        border-radius: 9px;
                        margin-right: 4rem;
                        padding: 1rem;

                        .tab-content{
                            .tab-pane{
                                .file{
                                    embed{
                                        height: 75rem
                                    }
                                }

                                .section-bottom{
                                    margin-top: 2rem;
                                    display: flex;
                                    align-items: center;

                                    .form-check{
                                        display: flex;
                                        align-items: center;

                                        .form-check-input{
                                            height: 18px;
                                            width: 18px;
                                        }

                                        label{
                                            font-weight: bold;
                                            margin: 0;
                                        }
                                    }

                                    button{
                                        display: flex;
                                        justify-content: flex-end;
                                        float: end;
                                        text-align: end;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}
