$colorsSmallBlack: #0000005C;
.user-profil-main-page{
    min-height: 100vh;
    margin: 1rem 2rem;

    .section{
        padding: 0;
        display: flex;
        flex-direction: column !important;

        .content-item-books{
            margin-top: 1rem;
            margin-bottom: 2rem;
            width: 100%;

            .item-book{
                padding: 1rem;
                justify-content: space-around;
                width: 25%;
                min-width: 24% !important;
                box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                border-radius: 5%;
                min-height: 30vh;
                height: 35vh;

                &:hover{
                    box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                }

                .book-image{
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    display: flex;
                    width: fit-content;
                    padding: 7px;
                    border-radius: 50%;
                    background: #026BB4B8;
                    height: 5vh !important;

                    span{
                        font-size: 25px;
                        color: #FFFFFF
                    }
                }

                .book-description{
                    text-align: left;
                    justify-content: space-evenly !important;
                    flex: 1;

                    & *{
                        width: 100%;
                    }

                    .book-chapitre{
                        font-weight: 500;
                        margin: 0;
                        color: $colorsSmallBlack;
                        font-size: 13px;
                        align-content: center;

                        .mdi{
                            width: fit-content !important;
                            font-size: 22px;
                            margin-right: .2rem;
                        }

                        .number-chap{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            font-size: 13px;
                        }
                    }

                    .book-title{
                        font-weight: 700;
                        margin: 0;
                        font-size: 18px;
                        margin-top: 1rem;
                        color: #4894C9 !important;
                    }

                    .book-resume{
                        color: #191818;
                        font-weight: 400;
                        align-items: center;
                        align-content: center;

                        .mdi-check-circle{
                            font-size: 32px;
                            color: green;
                        }

                        div{
                            flex: 0;

                            .mdi-book-open-variant{
                                color: #CCCCCC;
                                font-size: 22px;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                width: fit-content !important;
                            }

                            .lb{
                                width: max-content !important;
                                display: flex;
                                color: #CCCCCC;
                                margin-bottom: .3rem;
                                margin-left: .5rem;
                            }
                        }
                    }

                    .book-stats{
                        div{
                            button{
                                width: fit-content;

                                &.btn-outline-light{
                                    width: fit-content;
                                    border: 2px solid #CCCCCC;
                                    color: #0E0E0ECC;
                                }

                                &.info{
                                    background-color: #4894C9;
                                }
                            }

                        }
                    }


                    .progress{
                        height: 7px;
                    }

                    .content-note{
                        .font-weight-bold{
                            flex: 1;
                            align-items: center;
                            justify-content: flex-start;
                            display: flex;
                        }

                        .note{
                            font-size: 24px;
                            font-weight: 600;
                            flex: 3;
                        }
                    }
                }
            }

        }
    }

    .content-item-books{
        .item-book{

            &:hover{
            }

            .book-image{

            }

            .book-description{

                & *{
                }

                .book-price{

                }

                .book-title{

                }

                .book-reference{

                }

                .book-number-page{

                }
            }
        }

    }


}

.text-bold{
    font-size: 18px !important;
    font-weight: 400;
    color: $colorsSmallBlack;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .user-profil-main-page{
        min-height: 100vh;
        margin: 1rem 2rem;

        .section{
            padding: 0;
            display: flex;
            flex-direction: column !important;

            .content-item-books{
                margin-top: 1rem;
                margin-bottom: 2rem;
                width: 100%;

                .item-book{
                    padding: 1rem;
                    justify-content: space-around;

                    min-width: 100% !important;
                    box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                    border-radius: 5%;
                    min-height: 30vh;
                    height: 35vh;

                    &:hover{
                        box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                    }

                    .book-image{
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        display: flex;
                        width: fit-content;
                        padding: 7px;
                        border-radius: 50%;
                        background: #026BB4B8;
                        height: 5vh !important;

                        span{
                            font-size: 25px;
                            color: #FFFFFF
                        }
                    }

                    .book-description{
                        text-align: left;
                        justify-content: space-evenly !important;
                        flex: 1;

                        & *{
                            width: 100%;
                        }

                        .book-chapitre{
                            font-weight: 500;
                            margin: 0;
                            color: $colorsSmallBlack;
                            font-size: 13px;
                            align-content: center;

                            .mdi{
                                width: fit-content !important;
                                font-size: 22px;
                                margin-right: .2rem;
                            }

                            .number-chap{
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 13px;
                            }
                        }

                        .book-title{
                            font-weight: 700;
                            margin: 0;
                            font-size: 18px;
                            margin-top: 1rem;
                            color: #4894C9 !important;
                        }

                        .book-resume{
                            color: #191818;
                            font-weight: 400;
                            align-items: center;
                            align-content: center;

                            .mdi-check-circle{
                                font-size: 32px;
                                color: green;
                            }

                            div{
                                flex: 0;

                                .mdi-book-open-variant{
                                    color: #CCCCCC;
                                    font-size: 22px;
                                    display: flex;
                                    align-items: center;
                                    text-align: center;
                                    width: fit-content !important;
                                }

                                .lb{
                                    width: max-content !important;
                                    display: flex;
                                    color: #CCCCCC;
                                    margin-bottom: .3rem;
                                    margin-left: .5rem;
                                }
                            }
                        }

                        .book-stats{
                            div{
                                button{
                                    width: fit-content;

                                    &.btn-outline-light{
                                        width: fit-content;
                                        border: 2px solid #CCCCCC;
                                        color: #0E0E0ECC;
                                    }

                                    &.info{
                                        background-color: #4894C9;
                                    }
                                }

                            }
                        }


                        .progress{
                            height: 7px;
                        }

                        .content-note{
                            .font-weight-bold{
                                flex: 1;
                                align-items: center;
                                justify-content: flex-start;
                                display: flex;
                            }

                            .note{
                                font-size: 24px;
                                font-weight: 600;
                                flex: 3;
                            }
                        }
                    }
                }

            }
        }

        .content-item-books{
            .item-book{

                &:hover{
                }

                .book-image{

                }

                .book-description{

                    & *{
                    }

                    .book-price{

                    }

                    .book-title{

                    }

                    .book-reference{

                    }

                    .book-number-page{

                    }
                }
            }

        }


    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .user-profil-main-page{
        min-height: 100vh;
        margin: 1rem 2rem;

        .section{
            padding: 0;
            display: flex;
            flex-direction: column !important;

            .content-item-books{
                margin-top: 1rem;
                margin-bottom: 2rem;
                width: 100%;

                .item-book{
                    padding: 1rem;
                    justify-content: space-around;
                    min-width: 66% !important;
                    width: 66%;
                    box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                    border-radius: 5%;
                    min-height: 30vh;
                    height: 35vh;

                    &:hover{
                        box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                    }

                    .book-image{
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        display: flex;
                        width: fit-content;
                        padding: 7px;
                        border-radius: 50%;
                        background: #026BB4B8;
                        height: 5vh !important;

                        span{
                            font-size: 25px;
                            color: #FFFFFF
                        }
                    }

                    .book-description{
                        text-align: left;
                        justify-content: space-evenly !important;
                        flex: 1;
                        font-size: 1.5rem;

                        & *{
                            width: 100%;
                        }

                        .book-chapitre{
                            font-weight: 500;
                            margin: 0;
                            color: $colorsSmallBlack;
                            font-size: 13px;
                            align-content: center;

                            .mdi{
                                width: fit-content !important;
                                font-size: 22px;
                                margin-right: .2rem;
                            }

                            .number-chap{
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 1.6rem;
                            }
                        }

                        .book-title{
                            font-weight: 700;
                            margin: 0;
                            font-size: 2.5rem;
                            margin-top: 1rem;
                            color: #4894C9 !important;
                        }

                        .book-resume{
                            color: #191818;
                            font-weight: 400;
                            align-items: center;
                            align-content: center;

                            .mdi-check-circle{
                                font-size: 32px;
                                color: green;
                            }

                            div{
                                flex: 0;

                                .mdi-book-open-variant{
                                    color: #CCCCCC;
                                    font-size: 22px;
                                    display: flex;
                                    align-items: center;
                                    text-align: center;
                                    width: fit-content !important;
                                }

                                .lb{
                                    width: max-content !important;
                                    display: flex;
                                    color: #CCCCCC;
                                    margin-left: .5rem;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .book-stats{
                            div{
                                button{
                                    width: fit-content;

                                    &.btn-outline-light{
                                        width: fit-content;
                                        border: 2px solid #CCCCCC;
                                        color: #0E0E0ECC;
                                    }

                                    &.info{
                                        background-color: #4894C9;
                                    }
                                }

                            }
                        }


                        .progress{
                            height: 7px;
                        }

                        .content-note{
                            .font-weight-bold{
                                flex: 1;
                                align-items: center;
                                justify-content: flex-start;
                                display: flex;
                            }

                            .note{
                                font-size: 24px;
                                font-weight: 600;
                                flex: 3;
                            }
                        }
                    }
                }

            }
        }

        .content-item-books{
            .item-book{

                &:hover{
                }

                .book-image{

                }

                .book-description{

                    & *{
                    }

                    .book-price{

                    }

                    .book-title{

                    }

                    .book-reference{

                    }

                    .book-number-page{

                    }
                }
            }

        }


    }
}

@media only screen and (width: 1024px){
    .user-profil-main-page{
        min-height: 100vh;
        margin: 1rem 2rem;

        .section{
            padding: 0;
            display: flex;
            flex-direction: column !important;

            .content-item-books{
                margin-top: 1rem;
                margin-bottom: 2rem;
                width: 100%;

                .item-book{
                    padding: 1rem;
                    justify-content: space-around;
                    width: 64%;
                    min-width: 47% !important;
                    box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
                    border-radius: 5%;
                    min-height: 30vh;
                    height: 35vh;

                    &:hover{
                        box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12)

                    }

                    .book-image{
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        display: flex;
                        width: 11%;
                        padding: 7px;
                        border-radius: 50%;
                        background: #026BB4B8;
                        height: 5vh !important;

                        span{
                            font-size: 42px;
                            color: #FFFFFF
                        }
                    }

                    .book-description{
                        text-align: left;
                        justify-content: space-evenly !important;
                        flex: 1;

                        & *{
                            width: 100%;
                        }

                        .book-chapitre{
                            font-weight: 500;
                            margin: 0;
                            color: $colorsSmallBlack;
                            font-size: 13px;
                            align-content: center;

                            .mdi{
                                width: fit-content !important;
                                font-size: 22px;
                                margin-right: .2rem;
                            }

                            .number-chap{
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 13px;
                            }
                        }

                        .book-title{
                            font-weight: 700;
                            margin: 0;
                            font-size: 18px;
                            margin-top: 1rem;
                            color: #4894C9 !important;
                        }

                        .book-resume{
                            color: #191818;
                            font-weight: 400;
                            align-items: center;
                            align-content: center;

                            .mdi-check-circle{
                                font-size: 32px;
                                color: green;
                            }

                            div{
                                flex: 0;

                                .mdi-book-open-variant{
                                    color: #CCCCCC;
                                    font-size: 22px;
                                    display: flex;
                                    align-items: center;
                                    text-align: center;
                                    width: fit-content !important;
                                }

                                .lb{
                                    width: max-content !important;
                                    display: flex;
                                    color: #CCCCCC;
                                    margin-bottom: .3rem;
                                    margin-left: .5rem;
                                }
                            }
                        }

                        .book-stats{
                            div{
                                button{
                                    width: fit-content;

                                    &.btn-outline-light{
                                        width: fit-content;
                                        border: 2px solid #CCCCCC;
                                        color: #0E0E0ECC;
                                    }

                                    &.info{
                                        background-color: #4894C9;
                                    }
                                }

                            }
                        }


                        .progress{
                            height: 7px;
                        }

                        .content-note{
                            .font-weight-bold{
                                flex: 1;
                                align-items: center;
                                justify-content: flex-start;
                                display: flex;
                            }

                            .note{
                                font-size: 24px;
                                font-weight: 600;
                                flex: 3;
                            }
                        }
                    }
                }

            }
        }

        .content-item-books{
            .item-book{

                &:hover{
                }

                .book-image{

                }

                .book-description{

                    & *{
                    }

                    .book-price{

                    }

                    .book-title{

                    }

                    .book-reference{

                    }

                    .book-number-page{

                    }
                }
            }

        }


    }
}
