.waiting-main-page{
    min-height: 100vh;

    .content-left{
        .bar-top{
            flex: 0.5;

            .navbar{
                .navbar-brand{
                    img{}
                }

                ul{
                    flex: 0.8;

                    .nav-item{
                        margin-right: 4rem;

                        a{color: #000000AD !important;
                            font-weight: 500;

                            &:hover{
                                text-decoration: none;
                            }


                            &:focus{
                                color: #000000 !important;
                                text-decoration: none;
                            }

                        }
                    }
                }
            }
        }

        .content-bootom{
            margin-bottom: 1rem;
            width: 90%;

            .title{

            }

            .content-sub-title{
                font-weight: 500;
                color: #8A8A8A;
            }

            .content-button-chip{
                margin-bottom: 2rem;

                .buttton-chip-item{
                    color: $cyan;
                    border-radius: 15px;
                    border: 3px solid $cyan;
                    background: transparent;
                    margin-top: 1rem;
                    width: auto;
                    min-width: 18%;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-content: center;

                    button{
                        background: transparent;
                        border: none;
                        //color: #6EA9D3;
                        color: $cyan;

                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }

            .go-register{
                a.text-register-now{
                    text-decoration: underline;

                }
            }
        }
    }


    .content-right{
        background: linear-gradient(190deg, #7C72B17A, #7C72B17A), url("/images/3-EXAMENS.jpg");
        background-size: cover;

        div{
            margin-right: 2rem;
            margin-top: 1rem;


            a.letsgo{

                padding: 10px 15px;
                background: #FFFF;
                font-weight: 600;
                height: auto;
                min-width: fit-content;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50px;

                &:hover{
                    text-decoration: none;
                    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

                }
            }
        }
    }
}

.text-parteners{
    font-size: $font-size-base;
    color: $gray-600;
}

.waiting-rectangle{
    background-color: $first-color;
    border-bottom-left-radius: 61px;
    width: 30%;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
}

.waiting-bloc-text{
    margin-top: 8rem;
}

.waiting-cover-sm {
    max-height: 270px;
}

.waiting-cover{
    max-height: 434px;
    margin-top: -130px;
    margin-right: 25px;
}

@media (min-width: 1224px) {
    .waiting-cover{
        max-height: 480px;
        margin-top: -130px;
        margin-right: 25px;
    }
}


.waiting-text-header{


}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .waiting-main-page{
        flex-direction: column !important;

        .content-left{
            .bar-top{

                .navbar{
                    padding: 0.5rem 0;
                    flex-direction: column;

                    .navbar-brand{
                        img{}
                    }

                    ul{
                        justify-content: space-between !important;
                        font-size: 12px;
                        width: 100%;
                        margin: 1rem 0;

                        .nav-item{
                            margin-right: 0;

                            a{

                                &:hover{
                                }


                                &:focus{
                                }

                            }
                        }
                    }
                }
            }

            .content-bootom{
                margin: 0;
                padding: 0;

                .title{
                    font-size: 1.5rem;

                }

                .content-sub-title{
                }

                .content-button-chip{

                    .buttton-chip-item{

                        button{

                            &:focus{
                            }

                            &:hover{
                            }
                        }
                    }
                }

                .go-register{
                    text-align: center;

                    a.text-register-now{

                    }
                }
            }
        }


        .content-right{
            min-height: 100%;
            height: 100vh;
            background-position: center;

            div{
                margin-right: 0;

                a.letsgo{
                    width: 100%;
                    margin: 0 .5rem;

                    &:hover{

                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .waiting-main-page{

        .content-left{
            .bar-top{

                .navbar{
                    margin-bottom: 1rem;

                    .navbar-brand{
                        img{}
                    }

                    ul{
                        font-size: 23px;

                        .nav-item{

                            a{

                                &:hover{
                                }


                                &:focus{
                                }

                            }
                        }
                    }
                }
            }

            .content-bootom{
                margin: 0;
                padding: 0;

                .title{
                    font-size: 1.5rem;

                }

                .content-sub-title{
                }

                .content-button-chip{

                    .buttton-chip-item{

                        button{

                            &:focus{
                            }

                            &:hover{
                            }
                        }
                    }
                }

                .go-register{
                    a.text-register-now{

                    }
                }
            }
        }


        .content-right{
            min-height: 100%;
            height: 100vh;
            background-position: center;

            div{
                margin-right: 0;
                justify-content: center !important;

                a.letsgo{
                    width: 50%;
                    margin: 0 .5rem;
                    font-size: 24px;

                    &:hover{

                    }
                }
            }
        }
    }

}

@media only screen and (width: 1024px){
    .waiting-main-page{
        margin: 0 !important;

        .content-left{
            .bar-top{
                .navbar{

                    .navbar-brand{
                        img{}
                    }

                    ul{

                        .nav-item{

                            a{

                                &:hover{
                                }


                                &:focus{
                                }

                            }
                        }
                    }
                }
            }

            .content-bootom{
                .title{

                }

                .content-sub-title{
                }

                .content-button-chip{

                    .buttton-chip-item{

                        button{

                            &:focus{
                            }

                            &:hover{
                            }
                        }
                    }
                }

                .go-register{
                    a.text-register-now{
                    }
                }
            }
        }


        .content-right{

            div{

                a.letsgo{

                    &:hover{

                    }
                }
            }
        }
    }
}
